onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=sharp
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=react-native*
public-hoist-pattern[]=@react-native*
public-hoist-pattern[]=styleq
